<oce-card>
  <oce-card-header-complex size="md"></oce-card-header-complex>
  <oce-card-content size="md">
    <div class="gap-6 flex-col flex">
      <oce-form-field>
        <oce-label>Question</oce-label>
        <input type="text" class="h-10" input placeholder="Type here..">
      </oce-form-field>
      <oce-form-field>
        <oce-label>Description<i class="text-gray-500 font-medium">&#160;(optional)</i></oce-label>
        <textarea input class="h-20"></textarea>
      </oce-form-field>
      <div>
        <oce-checkbox-simple (click)="showUploadFile()" class="mb-2 block">Add image, video or sound</oce-checkbox-simple>
        @if (showUpload) {
          <app-input-template-file></app-input-template-file>
        }
      </div>
      @if (questionType === 'multiple-choice') {
        <app-create-multiple-choice-template class="flex flex-col gap-2 "></app-create-multiple-choice-template>
      }
      @if (questionType === 'fill-the-gaps') {
        <app-create-fill-the-gaps-template class="bg-gray-50">
          <input type="text" hidden="hidden">
        </app-create-fill-the-gaps-template>
      }
      @if (questionType === 'true-or-false') {
        <app-create-true-or-false-template class="flex w-full justify-center gap-8"></app-create-true-or-false-template>
      }
    </div>
  </oce-card-content>
</oce-card>
