<article class="w-full">
  <div class="w-full flex bg-gray-50 ring-gray-300 ring-1 ring-inset items-center justify-between rounded-t-lg py-1 px-6">
    <div class="flex gap-2 items-center ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question-fill size-5 text-gray-700" viewBox="0 0 16 16">
        <path d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0m1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.7 1.7 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627"/>
      </svg>
      <h3 class="font-bold tracking-wide text-gray-700 align-middle h-full">Question 1</h3>
    </div>
    <div class="flex gap-2">
    <app-select-template [options]="['complex-true-or-false', 'match']" class="relative w-44">Question Type</app-select-template>
    <app-select-template [options]="['roman', 'number']" class="relative w-24">Index Style</app-select-template>
    </div>
    <div class="flex text-gray-600 items-center">
      <div class="flex gap-4 border-r border-gray-300 mr-4 pr-4">
        <app-button-down class="w-10 h-10"></app-button-down>
        <app-button-up class="w-10 h-10"></app-button-up>
      </div>
      <div class="flex gap-4">
        <app-button-copy class="w-10 h-10"></app-button-copy>
        <app-button-remove class="w-10 h-10"></app-button-remove>
      </div>
    </div>
  </div>
  <div class="w-full border-l border-r border-b border-gray-300 p-6 rounded-b-lg">
    <div class="gap-6 flex-col flex border-b border-gray-300">
      <app-input-template-text>Question</app-input-template-text>
      <app-text-area-template>Description<i class="text-gray-500 font-medium">&#160;(optional)</i></app-text-area-template>
      <div>
        <div class="flex gap-1 mb-4">
          <input id="opens-on" name="opens-on" type="checkbox" class="cursor-pointer w-6 accent-sky-500">
          <label for="opens-on" class="text-xs cursor-pointer text-gray-900 font-semibold tracking-wide hover:text-sky-500" (click)="showUploadFile()">Add image, video or sound</label>
        </div>
        @if (showUpload){
          <app-input-template-file></app-input-template-file>
        }
      </div>
    </div>
    <div class="mt-6 w-full ">
      @if (questionType === 'multiple-choice') {
        <app-create-multiple-choice-template class="flex flex-col gap-2 "></app-create-multiple-choice-template>
      }
    </div>
  </div>
</article>
