<oce-card [formGroup]="iFormGroup">
  <oce-card-header-complex size="md">
    <app-select-template select [selected]="iFormGroup.controls['type'].value" [header]="'Question types'"  class="relative w-44 z-50">
      @for (option of ['complex-true-or-false', 'match']; track $index){
        <app-select-element option [for]="uuid + option" [option]="option">
          <input input formControlName="type" [id]="uuid + option" name="type" type="radio" [value]="option" hidden="hidden">
        </app-select-element>
      }
    </app-select-template>
    <app-select-template select [header]="'List styles'" class="relative w-24 z-50">
      @for (option of ['roman', 'number']; track $index){
        <app-select-element option [option]="option"></app-select-element>
      }
    </app-select-template>
  </oce-card-header-complex>
  <oce-card-content size="md">
    <div class="gap-6 flex-col flex">
      <oce-form-field>
        <oce-label (click)="showUploadFile()" [for]="'question' + uuid">Question</oce-label>
        <input formControlName="question" [id]="'question' + uuid" [name]="'question' + uuid" type="text" class="h-10" input placeholder="Type here..">
      </oce-form-field>
      <oce-form-field>
        <oce-label [for]="'description' + uuid">Description<i class="text-gray-500 font-medium">&#160;(optional)</i></oce-label>
        <textarea formControlName="description" [id]="'description' + uuid" [name]="'description' + uuid" input class="h-20"></textarea>
      </oce-form-field>
      <div>
        <oce-checkbox-simple class="block">
          <oce-label [for]="'multimedia' + uuid">Add image, video or sound</oce-label>
          <input formControlName="multimedia" [id]="'multimedia' + uuid" [name]="'multimedia' + uuid" input type="checkbox">
        </oce-checkbox-simple>
        @if (iFormGroup.controls['multimedia'].value) {
          <div class="flex flex-col gap-1 mt-2">
            <app-select-template class="relative w-40">
              @for (option of ['image', 'sound', 'video']; track $index){
                <app-select-element option [option]="option">
                  <input formControlName="type" [id]="option" name="type" type="radio" [value]="option">
                </app-select-element>
              }
            </app-select-template>
            <app-input-template-file class="block mt-2"></app-input-template-file>
          </div>
        }
      </div>
      @if (questionType === 'multiple-choice') {
        <app-create-multiple-choice-template [iFormGroup]="iFormGroup.controls['answer']" class="flex flex-col gap-2 "></app-create-multiple-choice-template>
      }
      @if (questionType === 'fill-the-gaps') {
        <app-create-fill-the-gaps-template class="bg-gray-50">
          <input type="text" hidden="hidden">
        </app-create-fill-the-gaps-template>
      }
      @if (questionType === 'true-or-false') {
        <app-create-true-or-false-template class="flex w-full justify-center gap-8"></app-create-true-or-false-template>
      }
    </div>
  </oce-card-content>
</oce-card>
