<div [formGroup]="qformGroup" class="flex flex-col items-center justify-center gap-2">
  @for (answer of answers; track answer.id; let inx = $index){
    <app-input-template-checkbox
      [label]="answer.content"
      [for]="answer.id"
      [imgSrc]="null"
      [visibleIndex]="gvi.getVisibleIndex(inx, 'roman')"
      [isChecked]="gic.getInputClass('question_'+questionId+'_answer_'+answer.id, qformGroup)"
      class="w-5/6"
    >
      <input hidden="hidden" [id]="answer.id" type="checkbox" [formControlName]="'question_'+questionId+'_answer_'+answer.id">
    </app-input-template-checkbox>
  } @empty {
    <p>no answers</p>
  }
</div>
