<oce-card [formGroup]="iFormGroup">
  <oce-card-content>
    <div class="w-full flex flex-col gap-6 text-gray-700">
      <div class="flex gap-4 w-full">
        <oce-form-field class="w-full">
          <oce-label [for]="'public_key'">Public Key</oce-label>
          <input formControlName="publicKey" id="public_key" name="public_key" type="text" class="h-10" placeholder="Type here..." input>
        </oce-form-field>
        <oce-form-field class="w-full">
          <oce-label [for]="'private_key'">Public Key</oce-label>
          <input formControlName="privateKey" id="private_key" name="private_key" type="text" class="h-10" placeholder="Type here..." input>
        </oce-form-field>
      </div>
      <oce-form-field class="w-full">
        <oce-label [for]="'title'">Title</oce-label>
        <input formControlName="title" id="title" name="title" type="text" class="h-10" placeholder="Type here..." input>
      </oce-form-field>
      <oce-form-field class="w-full">
        <oce-label [for]="'description'" >Description <i class="text-gray-500 font-medium">&#160;(optional)</i></oce-label>
        <textarea formControlName="description" id="description" name="description" input class="h-20"></textarea>
      </oce-form-field>
      <div class="flex gap-8 w-full">
        <div class="py-4">
          <oce-form-field>
            <oce-label [for]="'duration'">Duration <i class="text-gray-500 font-medium">&#160;(optional)</i></oce-label>
            <input formControlName="duration" id="duration" name="duration" input type="time" class="h-10">
          </oce-form-field>
          <oce-checkbox-simple class="mt-4 block">The test duration is unlimited</oce-checkbox-simple>
        </div>
        <div class="ring-1 ring-gray-300 p-4 rounded-lg">
          <div class="flex gap-8">
            <oce-form-field>
              <oce-label [for]="'open_on'">Opens on <i class="text-gray-500 font-medium">&#160;(optional)</i></oce-label>
              <input formControlName="openDate" id="open_on" name="open_on" input type="date" class="h-10">
            </oce-form-field>
            <oce-form-field>
              <oce-label [for]="'close_on'">Closes on <i class="text-gray-500 font-medium">&#160;(optional)</i></oce-label>
              <input formControlName="closeDate" id="close_on" name="close_on" input type="date" class="h-10">
            </oce-form-field>
          </div>
          <oce-checkbox-simple class="mt-4 block">The test can be taken at any</oce-checkbox-simple>
        </div>
      </div>
    </div>
  </oce-card-content>
</oce-card>
