    <div class="flex gap-4 w-full">
      <app-input-template-text class="w-full">Public Key</app-input-template-text>
      <app-input-template-text class="w-full">Private Key</app-input-template-text>
    </div>
    <app-input-template-text class="w-full">Title</app-input-template-text>
      <app-text-area-template class="w-full flex flex-col h-20">Description <i class="text-gray-500 font-medium">&#160;(optional)</i></app-text-area-template>
    <div class="flex gap-8 w-full">
      <div class="py-4">
        <app-input-template-time>Duration <i class="text-gray-500 font-medium">&#160;(optional)</i></app-input-template-time>
        <div class="flex mt-4 gap-1">
          <input id="duration" name="duration" type="checkbox" class="cursor-pointer accent-sky-500">
          <label for="duration" class="text-xs cursor-pointer text-gray-700 font-bold tracking-wide underline underline-offset-2 hover:text-sky-500">The test duration is unlimited</label>
        </div>
      </div>
      <div class="ring-1 ring-gray-300 p-4 rounded-lg">
        <div class="flex gap-8">
          <app-input-template-date>Opens on <i class="text-gray-500 font-medium">&#160;(optional)</i></app-input-template-date>
          <app-input-template-date>Closes on <i class="text-gray-500 font-medium">&#160;(optional)</i></app-input-template-date>
        </div>
        <div class="flex mt-4 gap-1">
          <input id="opens-on" name="opens-on" type="checkbox" class="cursor-pointer accent-sky-500">
          <label for="opens-on" class="text-xs cursor-pointer text-gray-700 font-bold tracking-wide underline underline-offset-2 hover:text-sky-500">The test can be taken at any time</label>
        </div>
      </div>
    </div>
