<section class="w-250px gap-0.5 h-full flex flex-col px-4 py-2">
  <h2 class="font-bold text-gray-800 tracking-wide text-2xl">Content</h2>
  <div class="flex flex-col gap-2">
    <app-conspect-element [question_header]="'Quisque tempor placerat erat, id maximus elit ultricies in'" [amount_of_answers]="3" [isActive]="true"></app-conspect-element>
    <app-conspect-element [question_header]="'Quisque tempor placerat erat, id maximus elit ultricies in'" [amount_of_answers]="3"></app-conspect-element>
    <app-conspect-element [question_header]="'Quisque tempor placerat erat, id maximus elit ultricies in'" [amount_of_answers]="3"></app-conspect-element>
    <app-conspect-element [question_header]="'Quisque tempor placerat erat, id maximus elit ultricies in'" [amount_of_answers]="3"></app-conspect-element>
  </div>
</section>
