<form [formGroup]="form" class="px-8">
  @for (question of questions.question_arr; track question.id; let inx = $index) {
    <app-question-template-test
      [header]="question.head"
      [imgSrc]="null"
      [index]="inx"
    >
      <ng-container [formArrayName]="question.id">
        @for (answer of question.answers; track answer.id; let inx = $index){
          <app-input-template-checkbox
            [label]="answer.content"
            [for]="answer.id"
            [isChecked]="getInputClass(question.id, answer.id)"
            [index]="inx"
            [listStyle]="'capital'"
            [imgSrc]="null"
            class="w-5/6"
            >
              <input hidden="hidden" [id]="answer.id" type="checkbox" [formControlName]="answer.id">
            </app-input-template-checkbox>
        } @empty {
          <p>no answers</p>
        }
      </ng-container>
    </app-question-template-test>
  }
</form>
