<form #questionsContainer class="pb-8 rounded-md ring-1 ring-gray-300 shadow-md">
  <div class="p-12 px-8 border-b border-gray-300 ">
    <h1 class="font-bold text-4xl text-gray-950">Lorem Ipsum</h1>
  </div>
  @for (question of questions.question_arr; track question.id; let inx = $index) {
    <app-question-template-test
      [header]="question.head"
      [imgSrc]="null"
      [additionalText]="null"
      [index]="inx"
      [isLast]="inx === questions.question_arr.length - 1"
      [attr.id]="'q-' + question.id"
    >
<!------------------------>
<!--  MATCH THE ANSWERS -->
<!------------------------>
        @if (false) {
          <app-match>
          </app-match>
        }
<!---------------------------->
<!--  SIMPLE TURE OF  FALSE -->
<!---------------------------->
        @if (false) {
          <app-simple-true-or-false
            [answers]="question.answers"
            [questionId]="question.id"
            [qformGroup]="form"
          >
          </app-simple-true-or-false>
        }
<!---------------------------->
<!--  COMPLEX TRUE OR FALSE -->
<!---------------------------->
        @if (true) {
          <app-complex-true-or-false
            [answers]="question.answers"
            [questionId]="question.id"
            [qformGroup]="form"
          >
          </app-complex-true-or-false>
        }
<!---------------------->
<!--  MULTIPLE CHOICE -->
<!---------------------->
        @if (false) {
          <app-multiple-choice
            [answers]="question.answers"
            [questionId]="question.id"
            [qformGroup]="form"
          >
          </app-multiple-choice>
        }
    </app-question-template-test>
  }
</form>
