  <div class="flex">
    <input type="checkbox" hidden="hidden">
    <div class=" pointer-events-none font-semibold text-gray-800 my-2 mx-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300">1</div>
    <label class="w-full text-gray-900 min-h-12 py-3 px-3 bg-gray-25 rounded-md ring-1 ring-gray-300 ring-inset">Ut convallis lectus nec nunc finibus tempor eget id felis. Donec a sagittis augue. Fusce egestas eros purus, ut tincidunt sapien dapibus ut. Quisque venenatis sagittis diam.</label>
  </div>
