<h4 class="tracking-wide text-sm font-bold text-gray-700">Identify user with:</h4>
<div class="flex gap-2 ml-4">
  <app-input-template-tile>First Name</app-input-template-tile>
  <app-input-template-tile>Last Name</app-input-template-tile>
  <app-input-template-tile>E-mail</app-input-template-tile>
  <app-input-template-tile>Phone number </app-input-template-tile>
  <app-input-template-tile>Index number</app-input-template-tile>
</div>
<h4 class="tracking-wide text-sm font-bold text-gray-700 mt-6">Create custom identification method:</h4>
<div class="flex gap-4 items-end w-full ml-4">
  <oce-form-field class="w-1/2">
    <oce-label>Question</oce-label>
    <input type="text" class="h-10" placeholder="Type here..." input>
  </oce-form-field>
  <div class="flex flex-col">
  <label class="pb-2 tracking-wide text-gray-700 text-xs font-bold">Format</label>
  <select class="ring-1 h-10 rounded-md ring-gray-300 text-sm font-semibold text-gray-700 px-2">
    <option>Text</option>
    <option>Number</option>
  </select>
  </div>
</div>
<app-button-plus class="ml-4"></app-button-plus>


