<div class="flex flex-col items-center w-full gap-2">
  <div class="flex al w-9/12 items-center">
    <p
      class="w-full text-gray-900 min-h-12 py-3 px-3 bg-gray-25 rounded-md ring-1 ring-gray-300 ring-inset"
    >
      Morbi viverra egestas tristique. Fusce elit ligula, commodo a augue et, consectetur ultricies ligula.
    </p>
    <div class="flex gap-4 ml-5">
      <label
        class="cursor-pointer font-semibold text-gray-800 my-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
      >
        T
      </label>
      <label
        class="cursor-pointer font-semibold text-gray-800 my-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
      >
        F
      </label>
    </div>
  </div >
  <div class="flex al w-9/12 items-center">
    <p
      class="w-full text-gray-900 min-h-12 py-3 px-3 bg-gray-25 rounded-md ring-1 ring-gray-300 ring-inset"
    >
      Morbi viverra egestas tristique. Fusce elit ligula, commodo a augue et, consectetur ultricies ligula.
    </p>
    <div class="flex gap-4 ml-5">
      <label
        class="cursor-pointer font-semibold text-gray-800 my-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
      >
        T
      </label>
      <label
        class="cursor-pointer font-semibold text-gray-800 my-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
      >
        F
      </label>
    </div>
  </div >
  <div class="flex al w-9/12 items-center">
    <p
      class="w-full text-gray-900 min-h-12 py-3 px-3 bg-gray-25 rounded-md ring-1 ring-gray-300 ring-inset"
    >
      Morbi viverra egestas tristique. Fusce elit ligula, commodo a augue et, consectetur ultricies ligula.
    </p>
    <div class="flex gap-4 ml-5">
      <label
        class="cursor-pointer font-semibold text-gray-800 my-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
      >
        T
      </label>
      <label
        class="cursor-pointer font-semibold text-gray-800 my-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
      >
        F
      </label>
    </div>
  </div >
</div>
