<div class="border-l border-r border-t border-gray-300 px-4 py-2 text-sm rounded-t-md text-gray-800 flex items-center justify-between bg-gray-50">
  <p>Inside the first column <b class="font-semibold"> provide a subquestion</b>, then mark it as <b class="font-semibold"> true or false </b> inside the second column.</p>
</div>
<div class="border border-gray-300 p-6 rounded-b-lg w-full flex flex-col items-center gap-4">
  <div class="flex items-center gap-4 w-full">
    <app-input-template-text class="w-full">Subquestion</app-input-template-text>
    <div class="flex gap-2 font-semibold text-gray-700 mt-6">
      <label class="w-8 h-8 bg-gray-100 ring-1 ring-inset ring-gray-300 rounded-md flex justify-center items-center cursor-pointer shadow  hover:bg-sky-100 hover:ring-2 hover:ring-sky-500">
        T
        <input type="radio" hidden="">
      </label>
      <label class="w-8 h-8 bg-gray-100 ring-1 ring-inset ring-gray-300 rounded-md flex justify-center items-center cursor-pointer shadow hover:bg-sky-100 hover:ring-2 hover:ring-sky-500">
        F
        <input type="radio" hidden="">
      </label>
    </div>
  </div>
  <div class="flex items-center gap-4 w-full">
    <app-input-template-text class="w-full">Subquestion</app-input-template-text>
    <div class="flex gap-2 font-semibold text-gray-700 mt-6">
      <label class="w-8 h-8 bg-gray-100 ring-1 ring-inset ring-gray-300 rounded-md flex justify-center items-center cursor-pointer shadow  hover:bg-sky-100 hover:ring-2 hover:ring-sky-500">
        T
        <input type="radio" hidden="">
      </label>
      <label class="w-8 h-8 bg-gray-100 ring-1 ring-inset ring-gray-300 rounded-md flex justify-center items-center cursor-pointer shadow hover:bg-sky-100 hover:ring-2 hover:ring-sky-500">
        F
        <input type="radio" hidden="">
      </label>
    </div>
  </div>
</div>
