<div
  class="flex"
  [ngClass]="{'w-fit': imgSrc && !label}"
>
  <ng-content></ng-content>
  <div
    class=" pointer-events-none font-semibold text-gray-800 my-2 mx-2 px-2 py-1 w-8 h-8 bg-gray-100 text-center ring-1 rounded-md ring-gray-300"
  >
    {{getListStyle(index)}}
  </div>
  <label
    [for]="for"
    class=" w-full text-gray-900 cursor-pointer min-h-12 py-3 px-3 bg-gray-25 rounded-md ring-1 ring-gray-300 ring-inset hover:ring-sky-500 hover:ring-2"
    [ngClass]="{'shadow-ring ring-sky-500 ring-2 bg-sky-50': isChecked}"
    >
    @if (label){
      {{label}}
    }
    @if (imgSrc){
      <img
        [src]="imgSrc"
        class="min-h-24 max-h-80 rounded-md ring-1 ring-gray-300 shadow-md"
        alt="imgSrc"
        [ngClass]="{'mt-4': imgSrc && label}"
      >
    }
  </label>
</div>
