  <div
    class="flex gap-1 h-8 justify-between items-center capitalize bg-white py-1 px-2 font-semibold text-xs rounded-t-md cursor-pointer border-t border-r border-l border-gray-300 hover:bg-gray-100"
    [ngClass]="!isShown ? 'rounded-b-md border-b' : 'border-b border-b-gray-50'"
  >
    <div class="flex items-center gap-1">
      <i class="text-sky-500 text-md"
         [ngClass]="{
          'bi-shuffle': selected === 'match',
          'bi-circle-half': selected === 'complex-true-or-false',
          'bi bi-123': selected === 'number',
          'bi bi-alphabet': selected === 'letter',
          'bi bi-alphabet-uppercase': selected === 'capital',
        }"></i>
      <h5 class="align-middle text-gray-700 ">{{selected}}</h5>
    </div>
    <i class="bi bi-chevron-down"></i>

  </div>
  @if (isShown){
    <ul class="absolute w-full flex flex-col top-8 bg-white left-0 p-1 text-xs border-b border-r border-l border-gray-300 rounded-b-md">
      <h5 class="tracking-wide text-xs p-1 text-gray-500 my-1">{{header}}</h5>
      <ng-content select="[option]"></ng-content>
    </ul>
  }
