<ng-container>
  <div class="flex w-full flex-col items-center">
    <app-top-bar
      (showChange)="handleShowChange($event)"
      [compact]="compact"
      class="fixed top-0 w-full z-50">
    </app-top-bar>
    <div
      class="flex w-[1200px] pb-6 mr-[300px]"
      [ngClass]="{'pt-[184px]': !compact, 'pt-[88px]': compact}"
    >
      <app-conspect
        (addQuestion)="handleAddQuestion()"
        [showConspect]="(createTestForm.controls.questions.controls | keyvalue).length > 0"
        class="w-[300px] gap-0.5 max-h-[600px] flex flex-col pr-4 fixed">
        @for (question of createTestForm.controls.questions.controls | keyvalue; track $index){
          <app-conspect-element class="snap-start" [question_header]="'Quisque tempor placerat erat, id maximus elit ultricies in'" [question_index]="2" [amount_of_answers]="2" [isActive]="false"></app-conspect-element>
        }
      </app-conspect>
      <oce-card class="ml-[300px] w-full">
        <oce-card-header-simple
          [compact]="compact"
          [description]="description">
          <button (click)="logForm()">Log form</button>
            @if (show === 'bp'){
              basic properties
            }
            @if (show === 'ei'){
              examinee identification
            }
            @if (show === 'qe'){
              question editor
            }
        </oce-card-header-simple>
        <oce-card-content [gap]="'lg'">
          @if (show === 'bp') {
            <app-basic-properties [iFormGroup]="createTestForm.controls.basicProperties"></app-basic-properties>
          }
          @if (show === 'ei') {
            <app-examinee-identification class="w-3/4 flex flex-col gap-4 "></app-examinee-identification>
          }
          @if (show === 'qe') {
            @for (question of createTestForm.controls.questions.controls | keyvalue; track question.value.controls['uuid'].value){
              <oce-question-template
                [iFormGroup]="question.value"
                [uuid]="question.value.controls['uuid'].value"
              >
              </oce-question-template>
            }
            @if((createTestForm.controls.questions.controls | keyvalue).length <= 0){
              <p class="text-gray-500 tracking-wide text-sm">Once you start adding questions, they will be visible here.</p>
            }
          }
        </oce-card-content>
      </oce-card>
    </div>
  </div>
</ng-container>
